<h2> List Your Property </h2> 

<%= form_for @listing, url: {action: "create"} do |p| %>

<%= p.hidden_field :user_id, :value => current_user.id %>
	
	Title:
	<%= p.text_field :title %>
	<br/>
	Location:
	<%= p.text_field :location %>
	<br/>
	Description:
	<%= p.text_field :description %>
	<br/>
	Price Per Night:
	<%= p.number_field :price_per_night %>
	<br/>
	Smoking (Use 1 for yes, 0 for no):
	<%= p.number_field :smoking %>
	<!-- binary field? -->
	<%= p.submit %>
<% end %>

