<h2>Payment Details</h2>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>"><%= value %></div>
<% end %>

<div class="demo-frame">

  <%= form_for :checkout_form, url: payments_checkout_path, html: { id: "cardForm"} do |form| %>
  <%= form.hidden_field :client_token, :value => @client_token, id: "hidden-field" %>

    <%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"} %>
    <div id="card-number" class="hosted-field"></div>

    <%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
    <div id="expiration-date" class="hosted-field"></div>

    <%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
    <div id="cvv" class="hosted-field"></div>

    <%= form.hidden_field "payment_method_nonce" %>

    <div class="button-container">
      <%= form.submit "Purchase", disabled: true, class: "btn btn-primary", id: "submit-payment-btn" %>
    </div>
  <% end %>


</div>